<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>net.sigmainfo.lf.automation.common.AbstractTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AAResultsBackUp</td>
<td> Result </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>net.sigmainfo.lf.automation.portal.tests.SanityTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>StarterMCA_cashFlowFailed</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Streamline_LOC_Flow</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PremiumLOC_cashFlowFailed</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerificationFlow_CaliforniaBusiness</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AAResultsBackUp</td>
<td> Result </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BSV_BusinessOpen_1Rating</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changeFlowLOC2MCA</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerificationFlow_AmtLess2500</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Premium_LOC_Flow</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>StartedMCAFlow</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerificationFlow_BusinessLess2Yrs</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BSV_BusinessClosed_1Rating</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerificationFlow_BusiLess9Mnth</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changeFlowMCA2LOC</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OtherLender_cashFlowFailed</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Traditional_MCA_Flow</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Platinum_LOC_Flow</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BSV_BusinessClosed_2Rating</td>
<td>Sanity verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>merchantVerificationDeclinedFlow_DefaultContent</td>
<td>Sanity Sprint1 PortalTests </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>verifyHappyFlowWithManualUpload verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>verifyHappyFlowWithManualUpload verifyEndToEndFlow PortalTests </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endCasereport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
</table>
