<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td></td><td>AbstractTests.AAResultsBackUp()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]<br/></td></tr>
<tr><td>PortalTests</td><td>SanityTests.StartedMCAFlow()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]<br/></td></tr>
<tr><td>Result</td><td>AbstractTests.AAResultsBackUp()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]<br/></td></tr>
<tr><td>Sanity</td><td>SanityTests.StartedMCAFlow()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]<br/></td></tr>
<tr><td>verifyEndToEndFlow</td><td>SanityTests.StartedMCAFlow()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]<br/></td></tr>
</table>
