<h2>Methods that were not run</h2><table>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.PremiumLOC_cashFlowFailed</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.Premium_LOC_Flow</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.VerificationFlow_BusinessLess2Yrs</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.VerificationFlow_AmtLess2500</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.changeFlowLOC2MCA</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.Streamline_LOC_Flow</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.StarterMCA_cashFlowFailed</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.VerificationFlow_CaliforniaBusiness</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.BSV_BusinessOpen_1Rating</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.Platinum_LOC_Flow</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.BSV_BusinessClosed_2Rating</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.merchantVerificationDeclinedFlow_DefaultContent</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.Traditional_MCA_Flow</td></tr>
<tr><td>net.sigmainfo.lf.automation.common.AbstractTests.AAResultsBackUp<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Results file creation</i></td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.changeFlowMCA2LOC</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.OtherLender_cashFlowFailed</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.VerificationFlow_BusiLess9Mnth</td></tr>
<tr><td>net.sigmainfo.lf.automation.portal.tests.SanityTests.BSV_BusinessClosed_1Rating</td></tr>
</table>