<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FC360 Tests Execution Report</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8866ef">  <td>18/03/16 14:03:48</td>   <td>0</td> <td title="&gt;&gt;AbstractTests.setUpOnce()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&gt;&gt;setUpOnce</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8866ef">  <td>18/03/16 14:03:49</td>   <td>590</td> <td title="&gt;&gt;AbstractTests.startCaseReport()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&gt;&gt;startCaseReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>634</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>634</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8866ef">  <td>18/03/16 14:03:49</td>   <td>680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTests.AAResultsBackUp()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">AAResultsBackUp</td> 
  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:net.sigmainfo.lf.automation.common.AbstractTests@2b71e916]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>761</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>18/03/16 14:03:49</td>   <td>791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SanityTests.StartedMCAFlow()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">StartedMCAFlow</td> 
  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>18/03/16 14:03:49</td>   <td>822</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SanityTests.endCasereport()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&lt;&lt;endCasereport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/03/16 14:03:49</td>   <td>845</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8866ef">  <td>18/03/16 14:03:49</td>   <td>876</td> <td title="&lt;&lt;AbstractTests.prepareFinalReport()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&lt;&lt;prepareFinalReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
<tr bgcolor="8866ef">  <td>18/03/16 14:03:49</td>   <td>951</td> <td title="&lt;&lt;AbstractTests.tearDown()[pri:0, instance:net.sigmainfo.lf.automation.portal.tests.SanityTests@3b69e7d1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2125238280</td>   <td></td> </tr>
</table>
